[submodule "vendor/SortFilterProxyModel"]
	path = vendor/SortFilterProxyModel
	url = https://github.com/Michal-Szczepaniak/SortFilterProxyModel
[submodule "vendor/o2"]
	path = vendor/o2
	url = https://github.com/pipacs/o2
